@tailwind base;
@tailwind components;
@tailwind utilities;

/* Em todos os elementos HTML: definir border-box como padrão box-sizing, desabilitar Drag e Drop recurso e redefinir outline. */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
  outline: none;
}
/* Definir padrão font-size para 14px, desabilitar Tap high lighting para dispositivos móveis, habilitar Smooth font rendering, desabilitar Text size increase algorithmpara dispositivos Apple. */
html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
